---
layout: default
---
<p class="byline"><em>The Mixin</em> is a San Francisco <a href="http://sass-lang.com/" target="sasslang.com">Sass</a> &#38; Frontend meetup.</p>

<hr />

<!--
  Set a flag, hasUpcoming, to false, and then loop
  through all posts, setting the flag to true if
  an upcoming event was found.
-->

{% assign hasUpcoming = false %}
{% for page in site.categories.event %}
  {% if page.upcoming == true %}
    {% assign hasUpcoming = true %}
  {% endif %}
{% endfor %}

{% if hasUpcoming == true %}
  <section>

    <h1>Upcoming Events</h1>

    {% for page in site.categories.event %}
      {% if page.upcoming == true %}
        {% include event-excerpt.html %}
      {% endif %}
    {% endfor %}

  </section>
{% endif %}

<hr />

<section>

  <h1>Get Involved</h1>

  <p>Want to help out by volunteering, speaking, hosting or sponsoring? Contact <a href="http://twitter.com/jina">Jina</a> or <a href="http://twitter.com/kaelig">Kaelig</a>.</p>

</section>

<hr />

<section>

  <h1>Past Events</h1>

  {% for page in site.categories.event %}
    {% unless page.upcoming == true %}
      {% include event-excerpt.html %}
    {% endunless %}
  {% endfor %}

</section>
