---
layout: default
---
<p class="byline"><em>The Mixin</em> is a <a href="http://sass-lang.com/" target="sasslang.com">Sass</a> meetup based in San Francisco.</p>

<hr>

<section>
  
  <h1>Upcoming Events</h1>

  <p>Maecenas faucibus mollis interdum. Nulla vitae elit libero, a pharetra augue. Nulla vitae elit libero, a pharetra augue. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>

</section>

<section>

  <h1>Get Involved</h1>

  <p>Want to help out by volunteering, speaking, hosting or sponsoring? Contact <a href="http://twitter.com/jina">Jina</a> or <a href="http://twitter.com/michaelrfowler">Mike</a>.</p>

</section>

<section>
  
  <h1>Past Events</h1>

  {% for page in site.categories.event %}
    {% include event.html %}
  {% endfor %}

</section>